<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}

  <div class="container content-body">
    <div class="row">
      <div class="col-sm-6">

        {% if page.gallery %}
          <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 25px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              {% for image in page.gallery %}
                {% if forloop.first %}
                  <li data-target="#myCarousel" data-slide-to="{{forloop.index}}" class="active">{{forloop.index}}</li>
                {% else %}
                  <li data-target="#myCarousel" data-slide-to="{{forloop.index}}">{{forloop.index}}</li>
                {% endif %}
              {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% for image in page.gallery %}
                {% if forloop.first %}
                  <div class="item active">
                    <img src="{{ image.url }}">
                  </div>
                {% else %}
                  <div class="item">
                    <img src="{{ image.url }}">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

        {% endif %}


      </div>
      <div class="col-sm-6">
        {{ content }}

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id augue at purus placerat maximus vel vel ante. Phasellus at risus ullamcorper, auctor orci et, volutpat tellus. Fusce condimentum ligula sem, at aliquam est consequat sed. Integer a magna nec leo lacinia blandit vitae a felis. Phasellus in leo ante. Phasellus enim lacus, semper luctus libero sit amet, dignissim pretium nunc. Aliquam dapibus dapibus nisl id accumsan. Ut luctus viverra ipsum, quis mollis sapien eleifend in. Nullam porta, velit eu feugiat venenatis, magna mauris finibus nunc, nec congue dolor massa ut eros. Nullam scelerisque, diam et gravida accumsan, felis orci luctus massa, eget molestie mi lorem sed lorem. Maecenas maximus viverra ligula sit amet pulvinar. Suspendisse at enim turpis. Mauris non mauris porta turpis feugiat hendrerit. Suspendisse vel libero placerat, vehicula quam id, ultricies risus. Sed lorem leo, faucibus quis laoreet vel, accumsan sit amet est.</p>

        <p>Maecenas magna purus, consequat vel quam sed, ullamcorper pulvinar nisl. In sagittis suscipit justo, vel mollis dui pharetra non. Pellentesque sed tempus lectus. Duis vel accumsan magna, a efficitur ex. Sed pretium lacus sed faucibus volutpat. Mauris lobortis facilisis mi et tempor. Proin dignissim, velit in tempor aliquet, sapien dui finibus est, ut viverra dolor arcu vitae mi. Nam cursus leo erat, nec egestas arcu consectetur eu. Aenean elementum vitae mi quis consequat. Phasellus et diam arcu. Vivamus convallis mollis urna quis imperdiet. Cras tincidunt feugiat nibh ac pretium. Mauris pretium dolor at nisi sagittis, id posuere ligula sollicitudin. Quisque pellentesque dictum semper.</p>

        <p>Nulla ac enim ut massa rhoncus tincidunt non quis diam. Nam eleifend pellentesque libero quis finibus. Aliquam placerat condimentum odio vel pharetra. Phasellus id massa erat. Curabitur vel elit consectetur, egestas sem vitae, bibendum magna. Pellentesque vitae mattis mi. Etiam tincidunt quis urna eget efficitur. Sed sodales elementum lacinia.</p>
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script type="text/javascript" src="/js/project-libs.js"></script>
  <script type="text/javascript" src="/js/project-app.js"></script>
</body>

</html>
