.navbar-default {
  background-color: $white;
  border-color: $grey-border;

  .navbar-nav {
    padding: 15px 0;

    > li {
      > a {
        text-transform: uppercase;
        color: $grey;
        transition: all ease 0.5s;
        font-family: $primary-font;
        padding: 12px 17px;

        &:hover {
          color: $brand-primary;
        }
        &:focus {
          color: $brand-primary;
        }
      }
      .quote {
        border: 1px solid $brand-primary;
        background-color: none;
        color: $brand-primary;
        transition: all ease 0.5s;
        border-radius: 4px;

        &:hover {
          border: 1px solid $brand-primary;
          background-color: $brand-primary;
          color: $white;
        }
      }
    }
  }
}