<footer class="footer">
  <div class="footer__pre">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            Interested in working with Greg?
            <strong>Get in touch to get your FREE quote.</strong>
            <a href="/quote" class="btn btn__white--ghost">Get a quote</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__main">
    <div class="container">
      <div class="contact">
        <p>
          Your Name is
          <br /> What You Are
          <br /> you@example.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a>
          <br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a>
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="footer__sub">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="copyright">&copy; Copyright 2018 <strong>Greg H Milton</strong>. All rights reserved. </p>
          <p class="developed">Designed and developed by <a href="http://www.adammorgan.wales" target="_blank">Adam Morgan</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
