.footer {
  &__pre {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: $brand-primary;

    p {
      width: 100%;
      margin: 0;
      text-align: center;
      display: inline-block;
      font-size: 20px;

      a {
        margin: 0 20px;
        @media(max-width: $screen-md) {
          margin-top: 20px;
          width: auto;
          display: block;
        }
      }
    }
  }

  &__main {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: #1A181D;
  }

  &__sub {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #1D1C20;
    color: lighten(#1D1C20, 20%);

    a {
      color: lighten(#1D1C20, 50%);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: lighten(#1D1C20, 60%);
        transition: all 0.2s ease-in-out;
      }
    }

    p {
      font-size: 12px;
    }

    .copyright {
      float: left;

      @media(max-width: $screen-md) {
        float: none;
      }
    }

    .developed {
      float: right;

      @media(max-width: $screen-md) {
        float: none;
      }
    }
  }
}