// Fonts
@import 'https://fonts.googleapis.com/css?family=Questrial';
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';
$title-font: 'Oxygen', sans-serif;
$primary-font: 'Questrial', sans-serif;

// Colours
$brand-primary: #FF2654;
$brand-secondary: #323a45;
$white: #FFFFFF;
$grey: #8a959e;
$grey-dark: #333C4E;
$grey-border: #e4e4e4;