// Fonts
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';
$title-font: 'Montserrat', sans-serif;
$primary-font: 'Lato', sans-serif;

// Colours
$brand-primary: #FF2654;
$brand-secondary: #323a45;
$white: #FFFFFF;
$grey: #8a959e;
$grey-dark: #333C4E;
$grey-border: #e4e4e4;