// Fonts
@import 'https://fonts.googleapis.com/css?family=Questrial|Open+Sans';
$primary-font: 'Open Sans', sans-serif;
$title-font: 'Questrial', sans-serif;

// Colours
$brand-primary: #FF2654;
$brand-secondary: #323a45;
$white: #FFFFFF;
$border-grey: #e4e4e4;