.home-intro {
  color: $white;
  padding: 100px 0;
  background:
    linear-gradient(
      rgba(252, 106, 108, 0.6),
      rgba(252, 106, 108, 0.6)
    ),
    url('/images/builder.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;

  @media(max-width: $screen-xs) {
    padding: 50px 0;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    text-align: center;

    h1 {
      font-size: 4rem;

      @media(max-width: $screen-xs) {
        font-size: 3rem;
      }
    }

    h2 {
      font-weight: 300;
      // Delay the load in animation
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;

      @media(max-width: $screen-xs) {
        font-size: 1.2rem;
      }
    }

    a {
      border: 1px solid $white;
      border-radius: 30px;
      display: inline-block;
      color: $white;
      padding: 15px 30px;
      text-decoration: none;
      transition: all 1s ease;
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;
      text-transform: uppercase;
      font-size: 12px;
      margin: 20px 10px;

      &:hover {
        background-color: $white;
        color: $brand-primary;
      }
    }
  }
}