<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ul class="list-unstyled list-inline">
          <li><span class="fa fa-phone"></span> 01443 472223</li>
          <li><span class="fa fa-mobile"></span> 07711 686833</li>
          <li><span class="fa fa-envelope"></span> greghmilton@hotmail.co.uk</li>
        </ul>
        <p class=""></p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p class="pull-right">Developed by <a href="http://www.adammorgan.wales" target="_blank">Adam Morgan</a></p>
      </div>
    </div>
  </div>
</footer>