<!-- <div class="contact-details">
  <div class="container">
    <ul class="list-unstyled list-inline">
      <li><span class="fa fa-phone"></span> 01443 472223</li>
      <li><span class="fa fa-mobile"></span> 07711 686833</li>
      <li><span class="fa fa-envelope"></span> greghmilton@hotmail.co.uk</li>
    </ul>
  </div>
</div> -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a class="quote" data-toggle="modal" data-target="#quote" href="#">Get Quote</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of navigation -->

<!-- Modal -->
<div class="modal fade" id="quote" tabindex="-1" role="dialog" aria-labelledby="quoteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-uppercase" id="quoteLabel">Get a Quote</h4>
        <p>If you would like to get a quote please submit the details of your job to get an estimate.</p>
      </div>
      <div class="modal-body">
        <form id="contactform" class="form-horizontal" method="POST" action="//formspree.io/adamccfc@gmail.com">
          <!-- Name -->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name*</label>
            <div class="col-sm-10">
              <input type="text" id="name" class="form-control" placeholder="Your name" name="name" required>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email*</label>
            <div class="col-sm-10">
              <input type="email" id="email" class="form-control" placeholder="Your email" name="email" required>
            </div>
          </div>
          <!-- Message -->
          <div class="form-group">
          <label class="col-sm-2 control-label" for="message">Message*</label>
            <div class="col-sm-10">
              <textarea id="message" class="form-control" placeholder="Your message" name="message"></textarea>
            </div>
          </div>
          <!-- Submit button -->
          <div class="form-group">
            <div class="col-xs-12">
              <input type="submit" class="btn btn-primary pull-right" value="Send">
            </div>
          </div>
          <input type="hidden" name="_next" value="/thank-you" />
          <input type="hidden" name="_subject" value="Website Quote Enquiry" />
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->