<!-- <div class="contact-details">
  <div class="container">
    <ul class="list-unstyled list-inline">
      <li><span class="fa fa-phone"></span> 01443 472223</li>
      <li><span class="fa fa-mobile"></span> 07711 686833</li>
      <li><span class="fa fa-envelope"></span> greghmilton@hotmail.co.uk</li>
    </ul>
  </div>
</div> -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/contact">Contact</a></li>
        <li><a class="quote" href="">Get Quote</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of navigation -->