@import "syntax";

// Include bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid";

// Base
@import "base/vars";
@import "base/grid";
@import "base/typography";
@import "base/base";

// Components
@import "components/buttons";

// Helpers
@import "helpers/animations";

// Page specific styles
@import "pages/home";
