.hero {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;

  @media (max-width: 479px) and (min-width: 0) {
    height: 320px - 76px;
  }
  @media (max-width: 767px) and (min-width: 480px) {
    height: 420px - 76px;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    height: 500px - 76px;
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    height: 650px - 76px;
  }
  @media (max-width: 1499px) and (min-width: 1200px) {
    height: 750px - 76px;
  }

  .hero-content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    span {
      display: block;
      color: $white;

      &.title {
        font-size: 70px;
        font-weight: 900;
        font-family: $title-font;

        @media (max-width: 479px) and (min-width: 0) {
          font-size: 32px;
        }
      }

      &.strapline {
        font-size: 28px;
        margin-bottom: 20px;

        @media (max-width: 479px) and (min-width: 0) {
          font-size: 18px;
        }
      }
    }
  }
}