.hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;

  .hero-content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    span {
      display: block;
      color: $white;

      &.title {
        font-size: 70px;
        font-weight: 900;
        font-family: $title-font;
      }

      &.strapline {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
  }
}