$sizes: xs 5px, sm 10px, md 15px, lg 20px, xl 30px, xxl 40px, 0 0;
@each $size in $sizes {
  // Margin
  .mb-#{nth($size, 1)} {
    margin-bottom: nth($size, 2);
  }
  .mt-#{nth($size, 1)} {
    margin-top: nth($size, 2);
  }
  .ml-#{nth($size, 1)} {
    margin-left: nth($size, 2);
  }
  .mr-#{nth($size, 1)} {
    margin-right: nth($size, 2);
  }
  .m-#{nth($size, 1)} {
    margin: nth($size, 2);
  }
  // Padding
  .pb-#{nth($size, 1)} {
    padding-bottom: nth($size, 2);
  }
  .pt-#{nth($size, 1)} {
    padding-top: nth($size, 2);
  }
  .pl-#{nth($size, 1)} {
    padding-left: nth($size, 2);
  }
  .pr-#{nth($size, 1)} {
    padding-right: nth($size, 2);
  }
  .p-#{nth($size, 1)} {
    padding: nth($size, 2);
  }
}