$grey: #E3E2DF;
$red: #FC6A6C;
$purple: #3D2645;
$blue: #30638E;

// Brand colours
$brand-primary: $red;
$brand-secondary: $blue;

// Screen sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;